.TTSchedule {
  padding-top: 70px;
  padding-left: 250px;
  padding-right: 20px;
  padding-bottom: 50px;
  color: #000;
}
.TTSchedule .class-schedule-short {
  width: 100%;
}
.TTSchedule .class-schedule-short th,
.TTSchedule .class-schedule-short td {
  padding: 20px;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
}
.TTSchedule .class-schedule-short th {
  background-color: #4caf50;
  color: white;
}

.TTSchedule .class-schedule-short tr:hover {
  background-color: #ff1515;
}
